<div class="fotter">
    <div style="margin-top: 40px;" class="row">
        <div class="col footer-coll-1">
            <div class="fotter-img">
                <img class="rounded mx-auto d-block" src="/img/logo.png" alt="logo">
            </div>
            <div class="high-light-footer intro-highlight-tex">Project Used</div>
            <div class="lis-footer">
                <ul style="list-style: square;">
                    <li>
                        <a href="#">HTML/CSS/SASS</a>
                    </li>
                    <li>
                        <a href="#">Javascript</a>
                    </li>
                    <li>
                        <a href="#">HanddlebarsJS</a>
                    </li>
                    <li>
                        <a href="#">Handlebars templates engine</a>
                    </li>
                    <li>
                        <a href="#">Express</a>
                    </li>
                    <li>
                        <a href="#">NodeJS</a>
                    </li>
                    <li>
                        <a href="#">Mongoose</a>
                    </li>
                    <li>
                        <a href="#">Mongodb</a>
                    </li>
                    <li>
                        <a href="#">Boostrap V5</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="high-light-footer intro-highlight-tex">Hero Book</div>
            <div class="lis-footer">
                <ul style="list-style: square;">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/projectoverview">Project Overview</a>
                    </li>
                    <li>
                        <a href="#">HBG Token</a>
                    </li>
                    <li>
                        <a href="#">WhitePaper</a>
                    </li>
                    <li>
                        <a href="#">WhitePaper</a>
                    </li>
                </ul>
            </div>
            <div class="high-light-footer intro-highlight-tex">Info</div>
            <div class="lis-footer">
                <ul style="list-style: square;">
                    <li>
                        <p>Company: ENTERPRISE SERVICE MANAGEMENT PTE. LTD</p>
                    </li>
                    <li>
                        <p>Address: 10 ANSON ROAD #13-09 INTERNATIONAL PLAZA SINGAPORE 079903</p>
                    </li>
                    <li>
                        <p>Company Code Numer: 202203414Z</p>
                    </li>
                    <li>
                        <a href="https://herobook.io/home">Reference source: herobook.io</a>
                    </li>
                </ul>
            </div>
            <div class="footer-by-herobox">
                <a href="/herobox">
                    BUY HBG TOKEN
                </a>
            </div>
        </div>
    </div>
</div>