<nav id="nav">
  <div class="nav-header d-flex align-items-stretch pt-0">
    <div class="content-nav">
      <a href="/">
        <img src="/img/logo.png" alt="logo" class="logo-nav"/>
      </a>
    </div>
    <div class="content-nav p-2 bd-highlight pt-0">
      <a href="/">
        <div class="content-text-nav">
          <span>HOME</span>
        </div>
      </a>
    </div>
    <div class="content-nav p-2 bd-highlight pt-0">
      <a href="/projectoverview">
        <div style="min-width: 220px;" class="content-text-nav">
          <span>
            PROJECT OVERVIEW
          </span>
        </div>
      </a>
    </div>
    <div class="content-nav p-2 bd-highlight pt-0">
      <a href="/herobox">
        <div class="content-text-nav">
          <span>
            BOX MARKET
          </span>
        </div>
      </a>
    </div>
    <div class="content-nav dropdown ms-auto p-2 bd-highlight pt-0">
      <a href="#" class=" align-items-end" id="dropdownMenu2" data-bs-toggle="dropdown">
        <div class="content-text-nav">
          <span>
            MORE
          </span>
        </div>
      </a>
      <ul class="dropdown-menu nav-dropdown" aria-labelledby="dropdownMenu2">
        <li><a href="" class="dropdown-item">MetaMask</a></li>
        <li><a href="" class="dropdown-item">HERO MARKET</a></li>
        <li><a href="" class="dropdown-item">HERO LAND</a></li>
      </ul>
    </div>
  </div>
</nav>


