<div class="overview-container">
    <div class="sheet-1-overview">
        <div class="row">
            <div style="z-index: 1000;" class="col-8">
                <div class="intro-tex sheet1-over-highline">HBG ECOSYSTEM</div>
                <div style="margin: 40px 0 40px 54px;" class="intro-highlight-tex">A NEW ERA OF THE MORDERN GAME
                    GENERATION
                </div>
                <hr style="margin-bottom: 80px;" class="dropdown-divider sheet-1-hr">
                <div class="row">
                    <div class="col">
                        <a href="#">
                            <div class="sheet-1-over-btn">
                                <span class="intro-tex">HERO BOOK</span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="sheet-1-over-btn">
                                <span class="intro-tex">HERO LAND</span>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#">
                            <div class="sheet-1-over-btn">
                                <span class="intro-tex">HERO CARD</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-4">
                <div class="sheet-1-img">
                    <img class="img-fluid" src="https://herobook.io/img/mk-s5.80ceb86c.png" alt="hero">
                </div>
            </div>
        </div>
    </div>
    <div class="sheet-2-overview">
        <div class="sheet2-over-body">
            <div class="sheet-2-vision">
                <div class="row sheet2-vision-bg">
                    <div class="col-4">
                        <div style="margin-top: 0; padding-top: 97px;" class="intro-tex sheet1-over-highline">
                            Vision
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="sheet2-vison-text">If real-life inhibits people's abilities, we will provide an
                            opportunity for everyone to unleash their potential. We want to create a world where people
                            step
                            in to satisfy their creativity, explore thinking, interact and join hands to realize the
                            common
                            good.</div>
                        <div class="sheet2-vison-text">We will create a transparent, highly liquid, secure, unlimited
                            freedom of connection game that will change both the Game and finance industry in the world
                            in
                            the 21st century with Blockchain technology.</div>
                    </div>
                </div>
            </div>
            <div class="sheet2-over-change">
                <div class="row">
                    <div class="col">
                        <div class="intro-tex sheet2-over-change-highline">HERO BOOK WILL CHANGE ALL YOU KNOW ABOUT GAME
                        </div>
                        <ul>
                            <li>HEROBOOK aims to become a Metaverse connecting the Blockchain games and traditional
                                games network in the international game market</li>
                            <li>NFT Hero and the HBG Token will connect all the games in Hero Book to create a strong
                                ecosystem</li>
                            <li>With only one NFT Hero and HBG Token, players can start to explore all three main Hero
                                Book games.</li>
                        </ul>
                        <div class="intro-tex sheet2-over-change-highline">WE WOULD LIKE TO BRING TO YOU</div>
                        <ul>
                            <li>The Unique NFT character system and application in a variety of game platforms</li>
                            <li>Experience a high-class game platform with beautiful graphics - highly entertaining and
                                suitable for a wide players community</li>
                            <li>Create a source of income from your passion</li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="sheet2-over-change-img">
                            <img src="https://herobook.io/img/card-1.e3262949.png" alt="card" class="img-fluid">
                        </div>
                        <div class="sheet2-over-change-imbg">
                            <img src="https://herobook.io/img/mk-s2.70545356.png" alt="card" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sheet2-over-discover">
                <div class="intro-tex">DISCOVER THE DIVERSITY ECOSYSTEM OF HEROBOOK</div>
                <div class="row">
                    <div class="col">
                        <div class="sheet2-over-discover-imgb"></div>
                        <div class="sheet2-over-discover-img">
                            <img src="https://herobook.io/img/ecosystem.a961547d.png" alt="card" class="img-fluid">
                        </div>
                    </div>
                    <div class="col sheet2-over-mrpi">
                        <div class="intro-tex sheet2-over-change-highline">Hero book has no border</div>
                        <ul>
                            <li>HBG Token was born is a testament to Hero Book's unlimited spread and expansion in its
                                ecosystem and the world financial community.</li>
                            <li>HBG Token allows any traditional game idea to be 'NFTized' and released on the
                                Blockchain platform with the support of the Hero Book team.</li>
                            <li>The platform to support and fundraising for the NFT gaming community</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sheet-3-overview">
        <div class="intro-tex sheet3-over-highline">Discover the diversity ecosystem of HEROBOOK</div>
        <div class="row justify-content-md-center rowfirst">
            <div class="col sheet3-over-syscard">
                <div style="margin-bottom: 12px;">
                    <img src="https://herobook.io/img/e1.9b8acae1.png" alt="card" class="img-fluid">
                </div>
            </div>
            <div class="col sheet3-over-syscard">
                <div>
                    <img src="https://herobook.io/img/e2.4c935398.png" alt="card" class="img-fluid">
                </div>
            </div>
            <div class="col sheet3-over-syscard">
                <div>
                    <img src="https://herobook.io/img/e3.08d203da.png" alt="card" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center rowsecond">
            <div class="col sheet3-over-syscard">
                <div>
                    <img src="https://herobook.io/img/e4.c62b02b7.png" alt="card" class="img-fluid">
                </div>
            </div>
            <div class="col sheet3-over-syscard">
                <div>
                    <img src="https://herobook.io/img/e5.1b319e7b.png" alt="card" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const zomElement = document.querySelectorAll('div.sheet3-over-syscard')

const handleOver = function() {
    this.classList.add("zoom")
}
const handleOut = function() {
    this.classList.remove("zoom")
}

    zomElement.forEach((element) => {
        element.addEventListener("mouseover", handleOver)
        element.addEventListener("mouseout", handleOut)
    })
</script>